In [143]:
from sklearn.preprocessing import PolynomialFeatures
import sklearn
import pandas as pd
import numpy as np
import os
import pycountry #pycountry provides the ISO databases for the standards:

In [50]:
#change working directory to 5102 project folder
os.chdir(r"/Users/chung/Google Drive/2018R1 Regression in Practice (STAT5102)/5012 Project")

In [75]:
#read project_data.sas7bdat
world_bank = pd.read_sas(r"project_data.sas7bdat", encoding="utf-8")

In [139]:
world_bank

,Country Name,Country Code,Continent,Adjusted savings: education expe,Adolescent fertility rate (birth,Age dependency ratio (% of worki,"Age dependency ratio, young (% o",Agricultural land (% of land are,"Birth rate, crude (per 1,000 peo","Fertility rate, total (births pe",...,"Life expectancy at birth, female","Life expectancy at birth, male (","Life expectancy at birth, total","Mortality rate, infant (per 1,00","Mortality rate, under-5 (per 1,0","Mortality rate, under-5, female","Mortality rate, under-5, male (p",Population growth (annual %),"Immunization, DPT (% of children","Immunization, measles (% of chil"
0,Afghanistan,AFG,AS,NaN,99.095600,103.119626,98.722026,58.123668,37.952000,5.659,...,60.877,58.384,59.600098,74.3,103.7,100.4,106.7,2.458417,66.0,62.0
1,Albania,ALB,EU,2.842804,16.994600,49.098446,34.036210,43.843066,12.607000,1.741,...,80.149,73.959,76.978512,16.1,18.1,16.3,19.7,-0.033072,99.0,99.0
2,Algeria,DZA,AF,4.467196,9.894599,46.741610,39.796430,17.370914,24.514000,2.817,...,72.229,69.081,70.616610,18.4,21.5,19.0,23.8,1.850438,95.0,95.0
3,American Samoa,ASM,OC,NaN,NaN,NaN,NaN,24.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.088667,NaN,NaN
4,Andorra,ADO,999,2.889150,NaN,NaN,NaN,42.765957,9.800000,1.220,...,NaN,NaN,NaN,2.9,3.5,3.1,3.8,-0.960625,99.0,99.0
5,Angola,AGO,AF,3.516770,178.994000,100.915476,96.050884,46.835646,46.327000,6.218,...,52.138,49.241,50.654171,104.6,173.1,164.5,181.1,3.235950,91.0,93.0
6,Antigua and Barbuda,ATG,NA,2.159410,51.755000,50.300659,39.428660,20.454545,16.966000,2.130,...,77.795,72.990,75.333902,9.8,10.6,9.4,11.7,1.075310,98.0,98.0
7,Argentina,ARG,SA,6.009790,55.372400,55.033758,38.566710,53.611114,17.188000,2.215,...,79.462,72.046,75.663561,13.3,14.8,13.3,16.3,0.872126,94.0,98.0
8,Armenia,ARM,AS,2.219690,27.481600,45.059361,29.758869,60.919944,14.140000,1.738,...,77.657,70.946,74.219659,16.2,18.2,16.1,20.2,-0.157056,94.0,97.0
9,Aruba,ABW,NA,5.519760,29.294400,45.157233,30.206740,11.111111,10.804000,1.701,...,77.429,72.593,74.952024,NaN,NaN,NaN,NaN,0.176342,NaN,NaN
10,Australia,AUS,OC,4.775350,13.645400,47.909932,28.019034,51.882900,13.120148,1.870,...,84.000,79.500,81.695122,4.2,5.0,4.4,5.6,1.306922,92.0,94.0
11,Austria,AUT,EU,5.288180,6.926000,48.328841,21.881827,38.405999,9.400000,1.440,...,83.200,77.700,80.382927,3.5,4.2,3.7,4.6,0.292402,83.0,76.0
12,Azerbaijan,AZE,AS,3.422650,40.201600,40.090103,31.791290,57.670345,18.500000,1.920,...,73.609,67.442,70.450293,33.4,38.5,35.3,41.5,1.189788,75.0,67.0
13,"Bahamas, The",BHS,NA,3.835600,29.791400,41.740846,31.879482,1.498501,15.531000,1.901,...,77.705,71.628,74.592390,14.5,17.6,16.2,18.9,1.680063,99.0,94.0
14,Bahrain,BHR,AS,3.028430,14.144200,28.042367,25.439701,11.000000,16.265000,2.142,...,77.048,75.519,76.264854,8.6,10.1,9.7,10.4,4.910747,99.0,99.0
15,Bangladesh,BGD,AS,1.810600,83.828200,56.920456,49.687035,70.991780,20.934000,2.277,...,70.229,68.778,69.485805,37.5,47.2,44.2,50.1,1.079332,95.0,94.0
16,Barbados,BRB,NA,7.372950,48.808200,42.295435,27.486653,32.558140,12.859000,1.839,...,77.247,72.473,74.801780,17.7,19.3,17.5,20.9,0.496960,86.0,85.0
17,Belarus,BLR,EU,4.397220,21.416200,40.433058,20.852180,43.854115,11.400000,1.440,...,76.500,64.600,70.404878,4.7,6.1,5.3,6.9,-0.178976,98.0,99.0
18,Belgium,BEL,EU,6.121410,8.179800,51.377932,25.395930,44.848085,11.900000,1.840,...,83.000,77.600,80.234146,3.5,4.4,3.9,4.9,0.913639,99.0,95.0
19,Belize,BLZ,NA,6.922150,74.323800,64.891795,58.462193,6.882946,24.443000,2.801,...,76.295,70.390,73.270488,16.5,19.3,17.1,21.2,2.486632,96.0,98.0
20,Benin,BEN,AF,4.265730,96.172410,86.223224,80.860410,30.063852,37.865000,5.095,...,60.146,57.414,58.746683,62.3,96.2,91.7,100.4,2.869601,83.0,69.0
21,Bermuda,BMU,NA,2.122550,NaN,NaN,NaN,14.800000,12.070000,1.764,...,82.080,76.630,79.288537,NaN,NaN,NaN,NaN,-0.780060,NaN,NaN
22,Bhutan,BTN,AS,3.241950,44.907800,52.131077,45.275684,13.543783,20.524000,2.375,...,67.312,66.712,67.004683,38.2,48.1,43.7,52.2,1.744281,91.0,95.0
23,Bolivia,BOL,SA,5.221690,74.406590,68.731625,60.818088,34.122588,26.482000,3.357,...,68.537,64.208,66.319707,35.3,44.9,40.8,48.9,1.619836,80.0,79.0
24,Bosnia and Herzegovina,BIH,EU,NaN,15.875600,48.075373,25.759201,42.039216,8.609000,1.242,...,78.445,73.294,75.806683,6.5,7.5,6.6,8.2,-0.195263,89.0,91.0
25,Botswana,BWA,AF,7.611460,47.386200,60.607822,55.013293,45.631959,24.299000,2.761,...,45.924,46.932,46.440293,43.6,57.7,53.1,62.0,0.899050,96.0,94.0
26,Brazil,BRA,SA,5.494230,72.707600,47.928743,37.709678,32.321483,15.576000,1.838,...,76.779,69.548,73.075317,14.5,16.3,14.2,18.2,0.884609,98.0,99.0
27,Brunei Darussalam,BRN,AS,2.025240,23.820800,43.375781,38.128523,2.163188,16.788000,2.051,...,79.956,76.115,77.988659,6.8,8.2,7.4,8.9,1.552041,95.0,94.0
28,Bulgaria,BGR,EU,4.123150,38.368600,46.316676,19.485775,46.536478,10.000000,1.490,...,77.200,70.000,73.512195,11.3,13.0,11.6,14.3,-0.672542,94.0,97.0
29,Burkina Faso,BFA,AF,3.377660,121.105200,94.088939,89.278856,44.097222,42.524000,5.869,...,55.584,54.457,55.006756,70.1,114.6,109.2,119.7,2.907424,91.0,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,Sweden,SWE,EU,6.219680,6.321600,53.163806,25.283081,7.518156,12.300000,1.980,...,83.500,79.500,81.451220,2.4,3.0,2.8,3.3,0.852525,98.0,97.0
185,Switzerland,CHE,EU,5.302900,2.941200,46.976541,22.126700,38.087500,10.300000,1.520,...,84.500,80.100,82.246341,3.8,4.5,4.1,4.9,1.041558,96.0,92.0
186,Syrian Arab Republic,SYR,AS,2.596069,42.782200,65.190620,59.029583,75.739258,24.964000,3.078,...,77.529,72.333,74.867634,13.1,15.2,13.6,16.7,2.354675,80.0,82.0
187,Tajikistan,TJK,AS,3.204370,43.607200,64.522189,59.084971,34.609889,32.553000,3.780,...,70.376,63.776,66.995512,52.1,62.5,56.0,68.4,2.387288,93.0,94.0
188,Tanzania,TZA,AF,2.393335,125.800200,92.140225,86.154028,42.108828,40.643000,5.428,...,60.307,58.110,59.181707,41.5,61.6,57.7,65.3,3.010117,91.0,92.0
189,Thailand,THA,AS,4.058970,40.842400,39.278990,26.926044,41.222181,11.026000,1.443,...,77.246,70.545,73.813780,12.2,14.2,12.2,16.0,0.188395,99.0,98.0
190,Timor-Leste,TMP,999,3.273290,57.646600,101.670610,95.441978,24.546066,36.445000,5.578,...,67.500,64.463,65.944463,51.5,61.7,56.4,66.6,2.879662,72.0,66.0
191,Togo,TGO,AF,4.440230,90.949200,81.199801,76.228800,68.027211,37.492000,4.792,...,56.272,54.704,55.468878,65.1,101.0,93.8,107.8,2.595341,86.0,68.0
192,Tonga,TON,OC,2.955370,19.786400,76.485151,66.136582,43.055556,27.176000,3.914,...,75.159,69.348,72.182634,11.8,13.7,12.1,15.1,0.521058,99.0,99.0
193,Trinidad and Tobago,TTO,NA,4.006400,36.118200,40.874421,29.193925,10.526316,15.132000,1.802,...,73.257,66.112,69.597366,19.5,21.9,19.6,24.1,0.420809,90.0,92.0
194,Tunisia,TUN,AF,5.973240,5.044000,43.761734,33.773771,64.611226,18.600000,2.130,...,76.600,72.700,74.602439,15.0,17.5,16.0,19.0,1.043428,98.0,97.0
195,Turkey,TUR,AS,2.643910,34.285800,50.948337,40.306065,50.689292,17.746000,2.101,...,77.773,70.819,74.211195,13.6,15.8,14.2,17.4,1.250504,97.0,97.0
196,Turkmenistan,TKM,AS,NaN,19.154400,50.042715,43.857212,69.499713,21.796000,2.412,...,69.314,60.927,65.018220,47.6,56.4,48.3,64.2,1.258040,96.0,99.0
197,Turks and Caicos Islands,TCA,NA,NaN,NaN,NaN,NaN,1.052632,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.436437,NaN,NaN
198,Tuvalu,TUV,OC,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,...,NaN,NaN,NaN,26.3,31.6,28.5,34.7,0.193532,89.0,85.0
199,Uganda,UGA,AF,2.964450,135.960800,105.361215,100.338401,70.376858,44.639000,6.155,...,58.198,56.438,57.296537,51.2,78.3,71.2,85.1,3.359655,80.0,73.0
200,Ukraine,UKR,EU,5.862660,27.717000,42.206851,19.761254,71.233515,10.800000,1.445,...,75.500,65.300,70.275610,10.2,11.8,10.3,13.2,-0.397285,52.0,56.0
201,United Arab Emirates,ARE,AS,NaN,28.523800,16.542581,16.152124,4.752392,15.969000,1.868,...,77.623,75.623,76.598610,7.5,8.8,7.8,9.7,8.956781,94.0,94.0
202,United Kingdom,GBR,EU,5.144710,25.794000,51.858538,26.666563,71.194147,13.000000,1.980,...,82.400,78.500,80.402439,4.4,5.2,4.7,5.7,0.741689,94.0,89.0
203,United States,USA,NA,4.789324,34.468200,49.039957,29.568269,44.923377,13.000000,1.931,...,81.000,76.200,78.541463,6.3,7.4,6.7,8.1,0.829320,95.0,92.0
204,Uruguay,URY,SA,2.304410,59.428000,57.184372,35.375577,82.059193,14.780000,2.080,...,80.198,73.205,76.616220,7.7,9.0,8.1,9.9,0.343146,95.0,95.0
205,Uzbekistan,UZB,AS,9.374764,42.782000,51.888313,45.219940,62.658674,22.700000,2.499,...,71.250,64.629,67.858756,36.7,42.5,36.5,48.1,2.822850,99.0,98.0
206,Vanuatu,VUT,OC,5.190030,45.960200,72.855757,66.031474,15.340443,27.447000,3.499,...,72.859,68.915,70.838902,16.3,19.0,17.0,21.0,2.340345,68.0,52.0
207,"Venezuela, RB",VEN,SA,3.551810,85.892790,54.080680,45.412637,24.091605,20.691000,2.472,...,77.217,71.269,74.170463,13.7,16.0,14.0,17.8,1.597370,78.0,79.0
208,Vietnam,VNM,AS,2.813477,30.112200,42.919517,33.573696,34.727642,16.428000,1.820,...,80.174,70.681,75.311732,18.7,23.4,20.2,26.4,1.049400,93.0,98.0
209,Virgin Islands (U.S.),VIR,NA,NaN,50.709600,52.383543,31.511774,11.428571,12.000000,1.800,...,82.300,76.227,79.189439,NaN,NaN,NaN,NaN,-0.413197,NaN,NaN
210,West Bank and Gaza,WBG,999,NaN,47.523600,81.274952,76.263474,41.262458,31.237000,4.216,...,74.342,71.020,72.640488,20.2,23.9,21.8,25.8,2.898629,NaN,NaN
211,"Yemen, Rep.",YEM,AS,4.118160,50.773200,80.767944,75.835093,44.659734,32.294000,4.498,...,63.886,61.234,62.527659,49.2,64.3,59.8,68.7,2.371090,87.0,73.0
212,Zambia,ZMB,AF,1.318170,131.130800,98.277220,93.015959,31.928059,43.217000,5.813,...,55.764,53.350,54.527561,62.9,100.4,94.2,106.5,3.010394,83.0,96.0
213,Zimbabwe,ZWE,AF,2.540900,65.200810,82.536647,75.267442,42.186894,32.170000,3.721,...,53.819,53.378,53.593122,59.3,97.1,89.9,103.7,1.448541,89.0,90.0

In [ ]:
#Drop the column Year and YearCode
world_bank = world_bank.drop(["Year", "YearCode"], axis=1)

In [ ]:
nrow = world_bank.shape[0]
na_portion = world_bank.isna().sum() / nrow

#remove columns with more than 20% Nan
world_bank = world_bank.loc[:, na_portion < .2]

In [ ]:
#import functions for converting country code into continents codes

from pycountry_convert import (
    map_countries,
    country_alpha2_to_country_name,
    country_name_to_country_alpha2,
    country_alpha3_to_country_alpha2,

    country_alpha2_to_continent_code,

    COUNTRY_NAME_FORMAT_UPPER
)

In [130]:
#convert country code into continents codes

continents = []
fail_codes = []
for country_code in world_bank["Country Code"]:
    try:
        alpha2 = country_alpha3_to_country_alpha2(country_code)
        continent = country_alpha2_to_continent_code(alpha2)
    except KeyError:
        fail_codes.append(country_code)
        continents.append("999")
    else:    
        
        continents.append(continent)

In [140]:
#see what's in the continents list variable
set(continents)

{'999', 'AF', 'AS', 'EU', 'NA', 'OC', 'SA'}

In [133]:
#insert continents into the world_bank dataframe
world_bank.insert(2, "Continent", continents)

In [132]:
#see which country code failed to get continent code
fail_codes

['ADO', 'CHI', 'ZAR', 'IMY', 'KSV', 'ROM', 'SXM', 'TMP', 'WBG']

In [129]:
#will manually impute these codes in excel later
world_bank.loc[world_bank['Country Code'].isin(fail_codes)]

,Country Name,Country Code,Adjusted savings: education expe,Adolescent fertility rate (birth,Age dependency ratio (% of worki,"Age dependency ratio, young (% o",Agricultural land (% of land are,"Birth rate, crude (per 1,000 peo","Fertility rate, total (births pe",GDP (constant 2005 US$),...,"Life expectancy at birth, female","Life expectancy at birth, male (","Life expectancy at birth, total","Mortality rate, infant (per 1,00","Mortality rate, under-5 (per 1,0","Mortality rate, under-5, female","Mortality rate, under-5, male (p",Population growth (annual %),"Immunization, DPT (% of children","Immunization, measles (% of chil"
4,Andorra,ADO,2.88915,NaN,NaN,NaN,42.765957,9.800,1.2200,NaN,...,NaN,NaN,NaN,2.9,3.5,3.1,3.8,-0.960625,99.0,99.0
38,Channel Islands,CHI,NaN,8.805599,45.139071,22.181480,47.894737,9.735,1.4360,NaN,...,81.974,77.791,79.831488,NaN,NaN,NaN,NaN,0.599216,NaN,NaN
43,"Congo, Dem. Rep.",ZAR,2.42834,133.980800,93.408939,87.932098,11.362784,44.017,6.2510,9.438752e+09,...,50.744,47.315,48.987683,104.5,155.1,146.0,163.7,2.779639,60.0,74.0
91,Isle of Man,IMY,NaN,NaN,NaN,NaN,76.140351,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.835704,NaN,NaN
102,Kosovo,KSV,NaN,NaN,51.880342,41.709402,NaN,18.530,2.2893,4.776328e+09,...,72.010,67.860,69.884390,NaN,NaN,NaN,NaN,0.803249,NaN,NaN
156,Romania,ROM,3.35741,30.927000,42.552628,21.402773,61.534449,9.900,1.3300,1.121886e+11,...,77.300,69.800,73.458537,11.8,13.5,12.0,15.0,-0.197584,94.0,95.0
168,Sint Maarten (Dutch part),SXM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.333512,NaN,NaN
190,Timor-Leste,TMP,3.27329,57.646600,101.670610,95.441978,24.546066,36.445,5.5780,7.328473e+08,...,67.500,64.463,65.944463,51.5,61.7,56.4,66.6,2.879662,72.0,66.0
210,West Bank and Gaza,WBG,NaN,47.523600,81.274952,76.263474,41.262458,31.237,4.2160,NaN,...,74.342,71.020,72.640488,20.2,23.9,21.8,25.8,2.898629,NaN,NaN

In [137]:
#export world_bank to excel file to share with groupmates (18 Nov 2018)
writer = pd.ExcelWriter('world_bank.xlsx')
world_bank.to_excel(writer, 'Sheet1')
writer.save()

In [ ]:
#Want to use the PolynomialFeatures function to generate quadratic terms for Polynomial regression

In [141]:
#test PolynomialFeatures function
data = pd.DataFrame.from_dict({
    'x': np.random.randint(low=1, high=10, size=5),
    'y': np.random.randint(low=-1, high=1, size=5),
})

p = PolynomialFeatures(degree=2).fit(data)
p.get_feature_names(data.columns)

['1', 'x', 'y', 'x^2', 'x y', 'y^2']

In [142]:
#have to deal with continent column.
quadratic_terms = PolynomialFeatures(degree=2).fit(world_bank)

ValueError: could not convert string to float: 'AF'